<!doctype html>
<html lang="en">
  <head>
    <title>To-Do lists</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="row justify-content-center p-5 bg-body-tertiary rounded-3">
        <div class="col-lg-6 text-center">
          <h1 class="display-1 mb-4">{% block header_text %}{% endblock %}</h1>
          <form method="POST" action="{% block form_action %}{% endblock %}">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>    
    <script src="/static/tests/qunit-2.6.0.js"></script>
    <script src="/static/tests/qunit-2.6.0.css"></script>

            {{ form.text }}
            {% csrf_token %}
            {% if form.errors %}
             <div class="form-group has-error">
              <div class="help-block">{{ form.text.errors }}</div> 
             </div>
            {% endif %}
          </form>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          {% block table %}
          {% endblock %}
        </div>
      </div>
    </div>
<script src="/static/list.js"></script>
<script> 

  $(document).ready(function () 
  {window.Superlists.initialize();}); 

</script> 
  </body>
</html>
